{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Building Services Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Dashboard/dashbuild1.css' %}">
</head>

<body>
    <header>
        <h1>Building Services Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Reports</a></li>
            </ul>
        </nav>
    </header>
    <section class="overview">
        <h2>Overview</h2>
        <div class="card">
            <h3>Total Customers</h3>
        </div>
        <div class="card">
            <h3>Total rejected</h3>
        </div>
        <div class="card">
            <h3>Total accepted</h3>
        </div>
        <div class="card">
            <h3>Total under revision</h3>
        </div>
    </section>
    <section class="customers">
        <h2>Customers</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>National ID</th>
                    <th>Address</th>
                    <th>The number of the agricultural basin to which it belongs</th>
                    <th>Phone</th>
                    <th>Determine the area to be built on in detail</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Photo1</th>
                    <th>Photo2</th>
                    <th>Photo3</th>
                    <th>Photo4</th>
                    <th>Approved</th>


                </tr>
            </thead>
            <tbody>
                {% for building in collecting_buildings %}
                <tr>
                    <td>{{ building.id }}</td>
                    <td>{{ building.name }}</td>
                    <td>{{ building.national_identity_card_number }}</td>
                    <td>{{ building.space }}</td>
                    <td>{{ building.agricultural_basin_number }}</td>
                    <td>{{ building.phone_number }}</td>
                    <td>{{ building.space }}</td>
                    <td>{{ building.latitude }}</td>
                    <td>{{ building.longitude }}</td>
                    <td><img src="{{ building.national_identity_card_photo.url }}" alt="Attachment Image"></td>
                    <td><img src="{{ building.violation_request.url }}" alt="Attachment Image"></td>
                    <td><img src="{{ building.violation_request_eng.url }}" alt="Attachment Image"></td>
                    <td><img src="{{ building.approval_photos.url }}" alt="Attachment Image"></td>
                    <td>
                        <!-- Display Approved status with checkbox -->
                        <input type="checkbox" {% if building.approved %}checked{% endif %}>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <footer>
        <p>&copy; 2023 Building Services Inc.</p>
    </footer>
</body>

</html>
